<footer>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<a id="zendesk-home" href="http://zendesk.com" target="_blank"></a>
			</div>
			<div class="col-md-4">
				<div class="footer-nav clearfix">
					<a href="{{ site.baseurl }}/authors">Authors</a>
					<a href="http://zendesk.com/jobs" target="_blank">Careers</a>
				</div>
			</div>
			<div class="col-md-4 footer-social-links">
				<a class="social-icon team-instagram" href="http://dribbble.com/Zendesk"></a>
				<a class="social-icon team-medium" href="https://medium.com/zendesk-creative-blog"></a>
				<a class="social-icon team-dribbble" href="http://dribbble.com/Zendesk"></a>
			</div>
		</div>
	</div>

</footer>