<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<a id="zendesk-home" href="http://zendesk.com" target="_blank"></a>
			</div>
			<div class="col-sm-5">
				<div class="footer-nav clearfix">
					<a href="{{ site.baseurl }}/authors">Contributors</a>
					<a href="http://zendesk.com/jobs" target="_blank">Careers</a>
					<a href="http://garden.zendesk.com" target="_blank">Garden</a>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="footer-social-links clearfix">
					<a class="social-icon team-instagram" href="http://instagram.com/zendesk.creative"></a>
					<a class="social-icon team-medium" href="https://medium.com/zendesk-creative-blog"></a>
					<a class="social-icon team-dribbble" href="http://dribbble.com/Zendesk"></a>
				</div>
			</div>
		</div>
	</div>
</footer>