<!-- <div class="video-container row">
    <div class="col-md-4">
	    <script src="https://fast.wistia.com/embed/medias/zw2zmrcn2s.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_zw2zmrcn2s popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
	</div>
	<div class="col-md-4">
	    <script src="https://fast.wistia.com/embed/medias/sxpw0wdxff.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_sxpw0wdxff popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
	</div>
	<div class="col-md-4">
	    <script src="https://fast.wistia.com/embed/medias/ua87bs41ks.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_ua87bs41ks popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
	</div>
</div> -->


<div id="video-container" class="row">
  <div class="col-md-6">

    <a class="wistia-popover[height=568,playerColor=7b796a,width=960] video-link" href="//fast.wistia.com/embed/iframe/ua87bs41ks?autoPlay=true">
      <video width="600" height="400" loop>
        <source src="{{ site.baseurl }}/img/fish_tank.mp4" type="video/mp4">
      </video>
      <div class="video-text">Guide product video</div>
      <div class="play-button"></div>
    </a>

  </div>
  <div class="col-md-6">
    <a class="wistia-popover[height=568,playerColor=7b796a,width=960] video-link" href="//fast.wistia.com/embed/iframe/zw2zmrcn2s?autoPlay=true">
      <video width="600" height="400" loop>
        <source src="{{ site.baseurl }}/img/shapes.mp4" type="video/mp4">
      </video>
      <div class="video-text">Zendesk Rebrand Documentary</div>
      <div class="play-button"></div>
    </a>
  </div>
  
</div>