<div id="video-container" class="row">
  <div class="col-md-6 video">
    <a class="wistia-popover[height=568,playerColor=7b796a,width=960] video-link" href="//fast.wistia.com/embed/iframe/ua87bs41ks?autoPlay=true">
      <video width="600" height="400" loop>
        <source src="{{ site.baseurl }}/img/posts/fish_tank.mp4" type="video/mp4">
      </video>
      <div class="video-text">Guide product video</div>
      <div class="play-button"></div>
    </a>
  </div>
  <div class="col-md-6 video">
    <a class="wistia-popover[height=568,playerColor=7b796a,width=960] video-link" href="//fast.wistia.com/embed/iframe/zw2zmrcn2s?autoPlay=true">
      <video width="600" height="400" loop>
        <source src="{{ site.baseurl }}/img/posts/shapes.mp4" type="video/mp4">
      </video>
      <div class="video-text">Zendesk Rebrand Documentary</div>
      <div class="play-button"></div>
    </a>
  </div>
</div>