$oil: #333333;
$monsoon: #777777;
$aluminum: #999999;
$daintree: #012B30;
$pelorous: #30AABC;

$headerHeight: 60px;
$footerHeight: 120px;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@font-face {
  font-family: "Sharp Sans";
  src: url("fonts/SharpSansNo1-Bold.eotw") format("eot"),
     url("../fonts/SharpSansNo1-Bold.woff") format("woff");
}

html{ 
  background-color:white;
}

body{
  margin:0;  
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

a{
  text-decoration: none;
  @include transition(color .2s ease);
  &:hover {
    color:$pelorous;
    text-decoration: none;
  }
}

p{
  font-size: 18px;
  color:$monsoon;
}

h2{
  font-family: "Sharp Sans";
}

h4{
  color: $daintree;
}

#wrapper {
   min-height:100%;
   position:relative;
}

.clearfix:after {
  content: "";
  clear: both;
}

.text-center{
  text-align: center;
}

#main-content{
  /*padding-top:100px;*/
  padding-bottom: $footerHeight;
}

.padding-md{
  padding-top: 40px;
  padding-bottom: 40px;
}


// Header

#header{
  position: fixed;
  width: 100%;
  height: $headerHeight;
  background-color: white;
  display: block;
  z-index: 101;
  box-shadow: 0 0 30px 0 rgba(36,83,107,.15);
  a{
    color:$monsoon;
    &:hover {
      color:$pelorous;
    }
  }
}

#menu{
  li{
    float: right;
    list-style: none;
    margin-left: 40px;
    margin-top: 16px;
  }
}

#zendesk-design-logo{
  display: block;
  float: left;
  width:108px;
  height:30px;
  margin-top: 15px;
  /*background: url('/img/zendesk_design_logo.svg');*/
}

img{
  width:100%;
  height:auto;
}

#home-contents{
  padding-top:100px;
}

clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Footer

footer{
  width:100%;
  height:$footerHeight;
  position:absolute;
  bottom:0;
  margin-top: 40px; 
  background-color: $daintree;
  a{
    color:white;
  }
  .social-icon{
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    background-size: 26px 26px;
    margin: 0 5px 0 5px;
    opacity: 1;
  } 
}

.footer-social-links{
  padding-top: 45px;
} 

.team-instagram{
  background:url("../img/instagram-icon-white.svg")no-repeat;
}

.team-dribbble{
  background:url("../img/dribbble-icon-white.svg")no-repeat;
}

.team-medium{
  background:url("../img/medium-icon-white.svg")no-repeat;
}

.footer-nav{
    width: 204px;
    margin: auto;
    margin-top: 47px;
  a{
    margin: 0 20px;
  }
}

#zendesk-home{
  height: 100px;
  width: 100px;
  background:url("../img/zendesk-medium-white.svg")no-repeat;
  display: block;
  margin-top: 22px;
}

// Homepage

.article-link{
  min-height: 360px;
  margin-bottom: 40px;
  a{
    color: $daintree;
  }
  h2{
    color: $daintree;
    font-size:24px;
    line-height: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.article-author{
  color: $oil;
  padding-top: 8px;
  display: block;
}

.author-avatar-small{
  width: 40px;
  height:40px;
  float:left;
  margin-right: 12px;
}

#instafeed{
  margin-top:30px;
  margin-bottom:60px;
}

.circle{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 30px 0 rgba(36, 83, 107, 0.2);
  z-index: 100;
  top: 107px;
  position:absolute;
  cursor: pointer;
  &.slick-disabled{
    visibility: hidden;
  }
}

.next-instagram{
  right: -6px;
}

.previous-instagram{
  left: -6px;
}

.arrow-next{
  background:url("../img/Next.svg")no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  background-size: 12px;
  margin-top: 10px;
  margin-left: 15px;
}

.arrow-previous{
  background:url("../img/Previous.svg")no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  background-size: 12px;
  margin-top: 10px;
  margin-left: 13px;
}

// Author page

#author-contents{
  padding-top:100px;
  h2{
    font-size: 32px;
    color:$daintree;
    margin-top: 30px;
    margin-bottom: 24px;
  }
}

.city-stamp{
  width: 130px;
  height: 146px;
  margin: auto;
  margin-bottom: 20px;
}

.city-stamp.singapore{
  background:url("../img/singapore_stamp.svg")no-repeat;
}

.city-stamp.london{
  background:url("../img/london_stamp.svg")no-repeat;
}

.city-stamp.san-francisco{
  background:url("../img/sanfrancisco_stamp.svg")no-repeat;
}

.city-stamp.copenhagen{
  background:url("../img/copenhagen_stamp.svg")no-repeat;
}

.author-meta-container{
  margin-top: 120px;
}

.author-meta{
  text-align: center;
}

.author-social{
  margin-top: 20px;
  margin: 30px auto 0 auto;
  width: 130px;
}

.social-icon{
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: 30px 30px;
  opacity: .5;
  margin: 0 5px 0 5px;
  &:hover {
    opacity: 1;
  }
}

.author-posts{
  margin-top: 100px;
}

// Authors list page

#authors-contents{
  padding-top:120px;
}

.author-link{
  margin-bottom: 60px;
  img{
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 20px;
  }
  .author-role{
    color:$aluminum;
    font-size: 14px;
  }
  h2{
    color: $daintree!important;  
  }
}

// Events

#event-content{
  padding-top: $headerHeight;
}

.cover-image{
  height: 540px;
  width: 100%;
  background-size: cover;
}

#events-contents{
  padding-top: 120px;
}

