$oil: #333333;
$monsoon: #777777;
$aluminum: #999999;
$daintree: #012B30;
$pelorous: #30AABC;

html{
  background-color:white
}

body{
  margin:0;  
}

a{
  text-decoration: none;
  &:hover {
    color:$pelorous;
  }
}

// Header

#header{
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: white;
  display: block;
  z-index: 10;
  box-shadow: 0 0 30px 0 rgba(36,83,107,.15);
  a{
    color:$monsoon;
    &:hover {
      color:$pelorous;
    }
  }
}

#menu{
  li{
    float: right;
    list-style: none;
    margin-left: 40px;
    margin-top: 16px;
  }
}

#zendesk-design-logo{
  display: block;
  float: left;
  width:108px;
  height:30px;
  background: url('/img/zendesk_design_logo.svg');
}

img{
  width:100%;
  height:auto;
}

#home-contents{
  padding-top:100px;
}

clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Homepage

.article-link{
  a{
    color: $daintree;
  }
  h2{
    line-height: .6em;
  }
}

.article-title{
  color: $daintree;
  font-size:24px;
}

.article-author{
  color: $oil;
  padding-top: 8px;
  display: block;
}

.author-avatar-small{
  width: 40px;
  height:40px;
  float:left;
  margin-right: 12px;
}

// Author page

#author-contents{
  padding-top:100px;
  h2{
    font-size: 32px;
  }
}



