@media only screen and (max-width : 1200px) {

	.circle{
		top: 86px;
	}

}

@media only screen and (max-width : 992px) {

	.footer-nav a {
		font-size: 14px;
	}

	.article-link h2 {
	    font-size: 21px;
	}

	.video-text{
		font-size: 20px;
	}

	.circle {
	    top: 56px;
	}
	
}

@media only screen and (max-width : 768px) {
	// Authors

	.author-link h2 {
	    font-size: 18px;
	    margin-bottom: 0;
	}

	.footer-nav a {
	    margin-left: 14px;
	}

	footer .social-icon {
	    margin: 0 2px 0 2px;
	}
}


@media only screen and (max-width : 576px) {
	
	// general

	p{
		font-size: 16px;
	}

	#menu li{
		margin-left: 30px;
		margin-top: 18px;
		a{
			font-size: 14px;
		}
	}

	#main-content-container{
		padding-bottom: 204px;
	}
	
	footer{
		height: 204px; 
	}

	#zendesk-home{
		margin: 20px auto 0 auto;
		height: 70px;
		width: 100px;
	}

	.footer-nav{
		margin: auto;
		margin-top: 12px;
		margin-left: 50%;
		transform: translateX(-50%);
		display: inline-block;
		a{
			font-size: 14px;
			float:left;
			margin-left: 12px;
		}
	}

	.footer-social-links {
	    padding-top: 0;
	    margin-top: 16px;
	    display: inline-block;
	    margin-left: 50%;
	    transform: translateX(-50%);
	}

	.main-content{
	  padding-top: 80px;
	}

	// Home

	.article-link{
		min-height: 0;
		h2{
			font-size: 20px;
			margin-bottom: 6px;
		}
	}

	.author-avatar-small{
		width: 34px;
		height: 34px;
	}

	.play-button{
		bottom: 16px;
	}

	// Author page

	.author-meta-container {
	    margin-top: 0px;
		margin-bottom: 20px;
	}

	.city-stamp{
		display:none;
	}

	.author-meta{
		div{
			text-align: left;
			font-size: 14px;
			color: $aluminum;
			float: left;
		}
	}

	.author-location{
		&:after{
			content: "";
			height: 4px;
			width: 4px;
			background-color: $aluminum;
			display: block;
			float: left;
			border-radius: 2px;
			margin: 9px 6px 0 6px;
		}
	}

	#author-contents{
		h2{
			font-size: 24px;
			margin-bottom: 0px;
		}
	}

	.author-social {
		margin-left: 0;
		margin-top: 34px;
		transform: none;
		display: block;
		& a:first-child{
		  margin-left:0;
		}
	}

	.social-icon{
		opacity: 1;
	}

	.author-posts {
	    margin-top: 40px;
	}

	.instagram-photo{
		width:100%;
	}

}









