/*** Typography ***/

@font-face {
  font-family: "Sharp Sans";
  src: url("../fonts/SharpSans-No1-Book.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Sharp Sans";
  src: url("../fonts/SharpSans-No1-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Sharp Sans";
  src: url("../fonts/SharpSans-No1-Semibold.otf");
  font-weight: 600;
}