/*** Global variables ***/

// Colors

$oil: #333333;
$darkGray: #555555;
$monsoon: #777777;
$aluminum: #999999;
$daintree: #012B30;
$pelorous: #30AABC;
$white: #ffffff;

// Dimensions

$headerHeight: 60px;
$footerHeight: 120px;

