---
layout: default
bodyclass: full-height
---
{% assign author = site.data.authors[page.author_slug] %}
{% assign author_posts = site.posts | where: "author_slug", page.author_slug %}
<div id="author-contents" class="container full-container full">
  <div class="row full">
    <div class="four columns">
      <div class="city-stamp" style="background: url('{{site.baseurl}}/img/london_stamp.svg');"></div>
      <div class="author-meta author-role"> {{author.role}} </div>
      <div class="author-meta author-location"> {{author.location}} </div>
    </div>
    <div class="eight columns">
      <img src='{{ site.baseurl }}/img/{{author.cover_image}}' class="author-details__image">
      <h2 class="author-details__name">{{author.name}}</h2>
      <p class="author-details__bio">{{author.bio}}</p>
    </div>
  </div>
</div>

{% include author-social-icons.html author=author %}
{% include loop-posts-general.html  posts=author_posts%}

