<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{% if layout.bodyclass %}{{ layout.bodyclass }}{% endif %}">
  	<div id="wrapper">
	    {% include navigation.html %}

	    <div id="main-content-container">
	    	{{ content }}
	    </div>
	    
		{% include footer.html %}
	 </div>

    <script type="text/javascript" src="{{ "/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
    <script type='text/javascript' src="{{ "/js/instafeed.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/jquery.fancybox.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/snap-svg-min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/svgicons-config.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/svgicons.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/TweenMax.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/scrollMagic/ScrollMagic.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/scrollMagic/plugins/animation.gsap.min.js" | prepend: site.baseurl }}"></script>
    

  </body>

</html>
