<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{% if layout.bodyclass %}{{ layout.bodyclass }}{% endif %}">
    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript" src="{{ "/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
    <script type='text/javascript' src="{{ "/js/instafeed.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/brian.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
