---
layout: default
---

<div id="events-contents" class="container main-content">
  <div class="row">
    {% for event in site.events reversed %}
    {% if event.published == true %}
     <div class="article-link-container col-md-6">
    	<a class="article-link" href="{{ site.baseurl }}{{ event.permalink }}">
    	  <div class="article-image-container">
    	  	<img src="{{ site.baseurl }}/img/{{event.cover_image}}">
    	  </div>
    	  <h2>{{event.title}}</h2>
    	  <div class="event-date">{{ event.date | date: "%B %-d, %Y" }}</div>
    	</a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>