---
layout: default
bodyclass: full-height
---

<div id="home-contents" class="container">
  <div class="row">
  {% for post in site.posts %}
    <div class="four columns">
      <img src="{{ site.baseurl }}/img/{{post.feature_image}}">
      <h2><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <p>{{post.author_name}}</p>
      <img class="author-avatar-small" src="{{ site.baseurl }}/img/{{post.author_avatar_image}}">
    </div>
  {% endfor %}
  </div> <!--/row -->
</div>
