---
layout: default
bodyclass: full-height
---

<div id="home-contents" class="container main-content">

  <div class="row">
  {% for post in site.posts %}
    {% if post.is_featured == true %}
    {% assign author = site.data.authors[post.author_slug] %}
    <div class="col-md-6 article-link fade-in-content">
      <a class="article-title" href="{{post.permalink}}" target="_blank">
        <div class="article-image-container">
          <img src="{{ site.baseurl }}/img/{{post.feature_image}}">
          <div class="medium-badge"></div>
        </div>
        <h2>{{post.title}}</h2>
      </a>
      <div class="clearfix">
        <a href="{{ site.baseurl }}{{ author.permalink }}">
          <img class="author-avatar-small" src="{{ site.baseurl }}/img/{{author.avatar_image}}">
          <div class="article-author">{{author.name}}</div>
          <div class="author-role">{{author.role}}</div>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div> <!--/row -->

  <div class="row">
  {% for post in site.posts %}
    {% if post.is_square == true %}
    {% assign author = site.data.authors[post.author_slug] %}
    <div class="col-md-4 article-link fade-in-content">
      <a class="article-title" href="{{post.permalink}}" target="_blank">
        <div class="article-image-container">
          <img src="{{ site.baseurl }}/img/{{post.feature_image_square}}">
          <div class="medium-badge"></div>
        </div>
        <h2>{{post.title}}</h2>
      </a>
      <div class="clearfix">
        <a href="{{ site.baseurl }}{{ author.permalink }}">
          <img class="author-avatar-small" src="{{ site.baseurl }}/img/{{author.avatar_image}}">
          <div class="article-author">{{author.name}}</div>
          <div class="author-role">{{author.role}}</div>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div> <!--/row -->

  {% include videos.html %}

  <div class="row">
  {% for post in site.posts %}
    {% if post.is_featured == false and post.is_square == false %}
    {% assign author = site.data.authors[post.author_slug] %}
    <div class="col-md-6 article-link">
      <a class="article-title" href="{{post.permalink}}" target="_blank">
        <div class="article-image-container">
          <img src="{{ site.baseurl }}/img/{{post.feature_image}}">
          <div class="medium-badge"></div>
        </div>
        <h2>{{post.title}}</h2>
      </a>
      <div class="clearfix">
        <a href="{{ site.baseurl }}{{ author.permalink }}">
          <img class="author-avatar-small" src="{{ site.baseurl }}/img/{{author.avatar_image}}">
          <div class="article-author">{{author.name}}</div>
          <div class="author-role">{{author.role}}</div>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div> <!--/row -->

  <div id="instafeed" class="row"></div>

  <div class="row">
  {% for post in site.posts %}
    {% if post.is_square == true %}
    {% assign author = site.data.authors[post.author_slug] %}
    <div class="col-md-4 article-link fade-in-content">
      <a class="article-title" href="{{post.permalink}}" target="_blank">
        <div class="article-image-container">
          <img src="{{ site.baseurl }}/img/{{post.feature_image_square}}">
          <div class="medium-badge"></div>
        </div>
        <h2>{{post.title}}</h2>
      </a>
      <div class="clearfix">
        <a href="{{ site.baseurl }}{{ author.permalink }}">
          <img class="author-avatar-small" src="{{ site.baseurl }}/img/{{author.avatar_image}}">
          <div class="article-author">{{author.name}}</div>
          <div class="author-role">{{author.role}}</div>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  </div> <!--/row -->


</div>